<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="row">
			<!-- carousel -->
			<!--Carousel Wrapper-->
			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="carousel-example-1z" class="carousel slide carousel-fade"
							data-ride="carousel">
							<!--Indicators-->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-1z" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-1z" data-slide-to="1"></li>
								<li data-target="#carousel-example-1z" data-slide-to="2"></li>
							</ol>
							<!--/.Indicators-->
							<!--Slides-->
							<div class="carousel-inner" role="listbox">
								<!--First slide-->
								<div class="item active">
									<img class="d-block w-100"
										src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg"
										alt="First slide">
								</div>
								<!--/First slide-->
								<!--Second slide-->
								<div class="item">
									<img class="d-block w-100"
										src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg"
										alt="Second slide">
								</div>
								<!--/Second slide-->
								<!--Third slide-->
								<div class="item">
									<img class="d-block w-100"
										src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
										alt="Third slide">
								</div>
								<!--/Third slide-->
							</div>
							<!--/.Slides-->
							<!--Controls-->
							<a class="carousel-control-prev" href="#carousel-example-1z"
								role="button" data-slide="prev"> <span
								class="carousel-control-prev-icon" aria-hidden="true"></span> <span
								class="sr-only">Previous</span>
							</a> <a class="carousel-control-next" href="#carousel-example-1z"
								role="button" data-slide="next"> <span
								class="carousel-control-next-icon" aria-hidden="true"></span> <span
								class="sr-only">Next</span>
							</a>
							<!--/.Controls-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<img src="/images/bookstore.jpg" class="img-responsive" />
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/images/bestsellerbooks.png" class="img-responsive">
					</div>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/images/google_maps.jpg" class="img-responsive">
					</div>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/images/faq.jpg" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="home-headline">
				<span>Featured Books</span>
				<hr style="margin-top: -15px;" />
			</div>
		</div>
		<div class="row">
			<div id="featured-books" class="carousel slide carousel-fade"
				data-ride="carousel">
				<!--Indicators-->
				<ol class="carousel-indicators">
					<li data-target="#featured-books" data-slide-to="0"
						class="active"></li>
					<li data-target="#featured-books" data-slide-to="1"></li>
					<li data-target="#featured-books" data-slide-to="2"></li>
				</ol>
				<!--/.Indicators-->
				<!--Slides-->
				<div class="carousel-inner" role="listbox">
					<!--First slide-->
					<div class="item active">
						<div class="row">
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
						</div>
					</div>
					<!--/First slide-->
					<!--Second slide-->
					<div class="item">
						<div class="row">
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
						</div>
					</div>
					<!--/Second slide-->
					<!--Third slide-->
					<div class="item">
						<div class="row">
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
							<div class="col-xs-2">
								<img src="/images/bookstore.png" class="img-responsive">
							</div>
						</div>
					</div>
					<!--/Third slide-->
				</div>
				<!--/.Slides-->
				<!--Controls-->
				<a class="carousel-control-prev" href="#featured-books"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#featured-books"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
				<!--/.Controls-->
			</div>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
